/.idea/.gitignore
/.idea/discord.xml
/.idea/Meshtastic-Parking-Lot-Tracker.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/devices/All-Devices-ids.json
/devices/Heltec-V3-Device-ids.json
/devices/newNodeReference.json
